Question 1

1) head(): The head() function is used to display the first n rows of a DataFrame. By default, it displays the first five rows.

In [5]:
import pandas as pd

data = {'Name': ['John', 'Alice', 'Bob', 'Emily', 'Michael','yagnik'],
        'Age': [25, 28, 22, 30, 35, 18],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney','Vadodara']}

df = pd.DataFrame(data)
print(df.head())

      Name  Age      City
0     John   25  New York
1    Alice   28    London
2      Bob   22     Paris
3    Emily   30     Tokyo
4  Michael   35    Sydney

2) read_csv(): This function is used to read a CSV file and create a pandas DataFrame.

import pandas as pd

# Read a CSV file into a DataFrame
data = pd.read_csv('data.csv')
print(data.head())

3) describe(): The describe() function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles.

In [9]:
import pandas as pd

data = {'Name': ['Yagnik', 'Alice', 'Bob', 'Emily', 'Michael'],
        'Age': [25, 28, 22, 30, 35],
        'City': ['India', 'London', 'Paris', 'Tokyo', 'Sydney']}

df = pd.DataFrame(data)

print(df.describe())

             Age
count   5.000000
mean   28.000000
std     4.949747
min    22.000000
25%    25.000000
50%    28.000000
75%    30.000000
max    35.000000

4) groupby(): The groupby() function is used to group data in a DataFrame based on specified columns. It is often used in combination with an aggregation function, such as sum(), mean(), or count(), to compute group-level summary statistics.

In [11]:
import pandas as pd

data = {'Name': ['John', 'Alice', 'Bob', 'Emily', 'Michael'],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney'],
        'Salary': [5000, 6000, 5500, 4500, 7000]}

df = pd.DataFrame(data)

# Group data by City and compute the mean salary
grouped_data = df.groupby('City')['Salary'].mean()
print(grouped_data)

City
London      6000.0
New York    5000.0
Paris       5500.0
Sydney      7000.0
Tokyo       4500.0
Name: Salary, dtype: float64

5) sort_values(): The sort_values() function is used to sort the DataFrame by one or more columns. By default, it sorts in ascending order.

In [12]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'Emily', 'Michael'],
        'Age': [25, 28, 22, 30, 35],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}

df = pd.DataFrame(data)

# Sort the DataFrame by Age in descending order
sorted_data = df.sort_values('Age', ascending=False)
print(sorted_data)

      Name  Age      City
4  Michael   35    Sydney
3    Emily   30     Tokyo
1    Alice   28    London
0     John   25  New York
2      Bob   22     Paris

Question 2

In [14]:
import pandas as pd

def reindex_dataframe(df):
    # Reset the index with a new index starting from 1 and incrementing by 2
    df.reset_index(drop=True, inplace=True)
    df.index = df.index * 2 + 1
    return df

reindexed_df = reindex_dataframe(df)
print(reindexed_df)

      Name  Age      City
1     John   25  New York
3    Alice   28    London
5      Bob   22     Paris
7    Emily   30     Tokyo
9  Michael   35    Sydney

Question 3

In [1]:
import pandas as pd

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

def calculate_sum(df):
    values = df['Values'].values[:3]
    sum_values = sum(values)
    print("Sum of the first three values:", sum_values)
calculate_sum(df)

Sum of the first three values: 60

Question 4

In [3]:
import pandas as pd

data = {'Text': ['This is a sample sentence.',
                 'Another sentence here.',
                 'Python is great!']}
df = pd.DataFrame(data)

# Define the function to add the 'Word_Count' column
def add_word_count(df):
    
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

add_word_count(df)
print(df)

                         Text  Word_Count
0  This is a sample sentence.           5
1      Another sentence here.           3
2            Python is great!           3

Question 5

DataFrame.size: This attribute returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns.

DataFrame.shape: This attribute returns a tuple containing the number of rows and columns in the DataFrame. The shape is represented as (number of rows, number of columns).

In [4]:
import pandas as pd

# Create a DataFrame
data = {'Column1': [1, 2, 3],
        'Column2': [4, 5, 6],
        'Column3': [7, 8, 9]}
df = pd.DataFrame(data)

# DataFrame.size
print("DataFrame.size:", df.size)

# DataFrame.shape
print("DataFrame.shape:", df.shape)

DataFrame.size: 9
DataFrame.shape: (3, 3)

Question 6

--> To read an Excel file in pandas, we can use the read_excel() function.\

Example:
import pandas as pd

# Read an Excel file into a DataFrame
df = pd.read_excel('data.xlsx')
print(df.head())

Question 7

In [6]:
import pandas as pd

# Create a DataFrame with an 'Email' column
data = {'Email': ['yagnikpatel@example.com',
                  'niyatidonda@example.com',
                  'alexander.wilson@example.com']}
df = pd.DataFrame(data)

def extract_username(df):
    # Extract the username from each email address
    df['Username'] = df['Email'].str.split('@').str[0]

# Call the function to extract usernames and create the 'Username' column
extract_username(df)
print(df)

                          Email          Username
0       yagnikpatel@example.com       yagnikpatel
1       niyatidonda@example.com       niyatidonda
2  alexander.wilson@example.com  alexander.wilson

Question 8

In [12]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows.copy()

data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

selected_df = select_rows(df)

# Print the selected DataFrame
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Question 9

In [17]:
import pandas as pd

def calculate_stats(df):
    values = df['Values']
    mean = values.mean()
    median = values.median()
    std_dev = values.std()
    return mean, median, std_dev

data = {'Values': [10, 15, 20, 25, 30]}
df = pd.DataFrame(data)

mean_val, median_val, std_dev_val = calculate_stats(df)

print("Mean:", mean_val)
print("Median:", median_val)
print("Standard Deviation:", std_dev_val)

Mean: 20.0
Median: 20.0
Standard Deviation: 7.905694150420948

Question 10

In [23]:
import pandas as pd

data = {'Date': ['2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-24', '2023-06-25', '2023-06-26'],
        'Sales': [100, 150, 200, 120, 180, 250, 170]}
df = pd.DataFrame(data)

# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Define the function to calculate moving average
def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Apply the function to calculate moving average
df = calculate_moving_average(df)

# Print the updated DataFrame
print(df)

        Date  Sales  MovingAverage
0 2023-06-20    100     100.000000
1 2023-06-21    150     125.000000
2 2023-06-22    200     150.000000
3 2023-06-23    120     142.500000
4 2023-06-24    180     150.000000
5 2023-06-25    250     166.666667
6 2023-06-26    170     167.142857

Question 11

In [24]:
import pandas as pd

data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Define the function to add weekday column
def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Apply the function to add weekday column
df = add_weekday_column(df)

# Print the updated DataFrame
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Question 12

In [9]:
import pandas as pd

def select_rows_between_dates(df):
    # Convert 'Date' column to datetime type
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Select rows where date is between '2023-01-01' and '2023-01-31'
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return selected_rows

# Create a sample DataFrame
data = {
    'Date': ['2023-01-01', '2023-01-15', '2023-01-20', '2023-02-05', '2023-03-10'],
    'Value': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)

# Call the function to select rows between '2023-01-01' and '2023-01-31'
selected_rows = select_rows_between_dates(df)

# Print the selected rows
print(selected_rows)

        Date  Value
0 2023-01-01     10
1 2023-01-15     20
2 2023-01-20     30

Question 13

--> To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is pandas itself.